<title>Data Science Self Service Portal</title>
<link href="static/bootstrap.css" media="screen" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<div class="container">
    <br>
    <h2>Container Request Form</h2>
    <form action="" method="post" role="form">

        <div class="form-group ">
            <label for="name">Requester Name:</label>
            <input class="form-control-half" id="name" name="name" placeholder="Enter your full name (e.g. First Name <Space> Last Name)" type="text">

            <label for="email">Email:</label>
            <input class="form-control-half" id="email" name="email" placeholder="Enter your email address (abc.xyz@org.com)"
                   type="text">

            <label for="nsselection">Namespace:</label>
            <select class="form-control-half" id="nsselection" name="nsselection">
                <option>datascienceops</option>
                <option>datascience-dev</option>
                <option>datascience-prd</option>
            </select>

            <label for="cname">Container Name:</label>
            <input class="form-control-half" id="cname" name="cname" placeholder="Enter the name for container/ application" type="text">

            <label for="memreq">Container Memory Requirements:</label>
            <input class="form-control-half" id="memreq" name="memreq" placeholder="Minimum 100Mi, Maximum 400Mi)" type="text">

            <label for="cpureq">Container Compute Requirements:</label>
            <input class="form-control-half" id="cpureq" name="cpureq" placeholder="Minimum 10m, Maximum 100m)" type="text">

        </div>
        <script type="text/javascript">
			function refreshPage(){
				    window.location.reload(true);
				}
		</script>

        <button class="btn btn-success" type="submit" onclick="refreshPage">Sign Up</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for message in messages %}
    {% if "Error" not in message[1]: %}
            <div class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert"></button>
                  <span>Success! {% print(message[1]) %}</span>
               <script type="text/javascript">
                    window.setTimeout(function () {
                        $(".alert-warning").fadeTo(100, 0).slideUp(250, function () {
                            $(this).remove();
                        });
                    }, 5000);
                </script>
            </div>
    {% endif %}
    {% if "Error" in message[1]: %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" ></button>
                <strong> {% print(message[1]) %} </strong>
                <script type="text/javascript">
                    window.setTimeout(function () {
                        $(".alert-warning").fadeTo(100, 0).slideUp(250, function () {
                            $(this).remove();
                        });
                    }, 5000);
                </script>
            </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>